root = true

[*]
insert_final_newline = false

[*.lua]
indent_style = space
indent_size = 2

[doc/*.txt]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2